body{
    background-color: rgb(191, 226, 226);
}
.skill-card{
    color: rgb(226, 86, 43);
}
#skills{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 50px;
}
.skill-card {
    margin: 20px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease;

    color: black;               
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.skill-card i { 
    color: rgb(255, 13, 0);              
    margin-right: 8px;          
}


.skills-grid{
    display: flex;
   justify-content: center;
   padding: 30px;
}
.para{
  margin-left: 200px;
  margin: 0 auto;    
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 900px;
}



.skill-card:hover {
  transform: translateY(-5px);
}